.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
}

.logo .logo-black {
    color: #000000;
}

.logo .logo-white {
    color: #FFFFFF;
}

/* Site nav */

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container-header {
    display: flex;
    align-items: center;
}

.nav-header {
    margin-left: 93px;
}

.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
    color: var(--accent-color);
    outline: none;
}

.site-nav .link-current {
    color: var(--accent-color);
}

.item-studio {
    position: relative;
}

.item-portfolio {
    position: relative;
}

.link-current::after {
    position: absolute;
    bottom: -1px;
    content: "";

    display: block;

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list .item+.item {
    margin-left: 50px;
}

.contacts-list a {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail,
.header-tel {
    fill: var(--primary-text-color);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list a:hover,
.contacts-list a:focus,
.contacts-list a:active {
    color: var(--accent-color);
    outline: none;
}

.contacts-list a:hover .header-mail,
.contacts-list a:hover .header-tel {
    fill: currentColor;
}

.contacts-list a:focus .header-mail,
.contacts-list a:focus .header-tel {
    fill: currentColor;
}